{
    "include": [
        "resources/js/**/*.{js,vue}"
    ],
    "exclude": [
        "**/*.spec.js"
    ],
    "reporter": [
        "text-summary",
        "lcov"
    ],
    "report-dir": "./coverage",
    "all": true
}
