@import "~@abenevaut/gameforest/src/sass/theme";

$figcaption-bg: $blue;
$text-color: #fff;
@import '~imagehover.css/scss/imagehover';
.imghvr-fade {
  cursor: pointer;
}

$gray-x-light: grey;
@import 'pkmn-teams';
@import 'cookie-consent';
.ekko-lightbox-nav-overlay a>* {
  color: var(--red);
}
.input-guard {
  margin-right: 0;
  position: relative;
  flex: 1;
}
.input-guard__text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.input-guard .form-control {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  color: transparent;
}

